@if (match(); as partita) {
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Partita {{ partita.id }} di {{ partita.giocatore }}</h1>
        <h2 class="display-5 fw-bold text-body-emphasis">Tempo impiegato {{ partita['secondi-trascorsi'] | secondsToHours }}</h2>
    </div>

    <div class="container my-5">
        <div class="card h-100">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sequenza</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (passaggio of partita.sequenza; track passaggio['numero-sequenza']) {
                            <tr>
                                <th scope="row">{{ passaggio['numero-sequenza'] }}</th>
                                <td>{{ passaggio.link | decodeURI }}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
} @else {
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Impossibile trovare la partita...</h1>
    </div>

}